<div class="user-view__form-container">
  <h2 class="heading-secondary ma-bt-md">Manage Rent Home</h2>
  <table class="user-table">
    <thead>
      <tr>
        <th>Property Id</th>
        <th>Property Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% homes.forEach(home => { %>
        <tr>
          <td><%= home._id %></td>
          <td><%= home.title %></td>
          <td>
            <a href="/admin/edit-rent-home/<%= home.id %>" class="btn btn-danger">Edit</a>
            <form action="/admin/delete-rent-home/<%= home.id %>" method="post" style="display:inline;">
              <button type="submit" class="btn btn--green">Delete</button>
            </form>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>