
<div id="signupModal" class="modal">
  <div class="login-form">
    <h2 class="heading-secondary ma-bt-lg">Eyyema hin qabdan!</h2>
    <h2 class="heading-secondary ma-bt-lg">You don't have permission!</h2>
    <div class="message">
      <p class="card__text">Eyyema qabeenyaa kee karaa weebsaayitii kanaa beeksifachuu hin arganne waan ta'eef, yoo qabeenyaa kee beeksifachuu barbaadde karalee asi gad jiran fayyadamuun eyyema gaafachuu ni dandeessu.</p>
      <p class="card__text">You have not received a permit to advertise your property through this website, so if you wish to advertise your property you can apply for a permit using the methods below.</p>
    </div>
    <div class="card__details">
      <p class="card__sub-heading">phone:0918344686</p>
      <p class="card__sub-heading">@dawe_tn</p>
    <
      <div class="other"> 
        <p>this page is still static make it dynamic letter</p>
      </div>
  </div>
</div>
